In [2]:
import pandas as pd

In [18]:
new_customer_list = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx','NewCustomerList',skiprows=1)
customer_demographic = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx','CustomerDemographic')
customer_address = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx','CustomerAddress',skiprows=1)

In [21]:
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   name                                 4000 non-null   object
 2   gender                               4000 non-null   object
 3   past_3_years_bike_related_purchases  4000 non-null   int64
 4   DOB                                  3913 non-null   object
 5   age                                  3999 non-null   float64
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 375.1+ KB

In [24]:
customer_demographic['customer_id'].is_unique

True

In [20]:
customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [26]:
merged_data1 = pd.merge(customer_demographic,customer_address,on = 'customer_id',how = 'left')

In [28]:
merged_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   name                                 4000 non-null   object
 2   gender                               4000 non-null   object
 3   past_3_years_bike_related_purchases  4000 non-null   int64
 4   DOB                                  3913 non-null   object
 5   age                                  3999 non-null   float64
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  owns_car                             4000 non-null   object
 11  tenure                               3913 non-null   float64
 12  address                              3996 non-null   object
 13  postcode                             3996 non-null   float64
 14  state                                3996 non-null   object
 15  country                              3996 non-null   object
 16  property_valuation                   3996 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 531.4+ KB

In [29]:
new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: float64(5), int64(6), object(12)
memory usage: 179.8+ KB

In [31]:
new_customer_list['job_title'].is_unique

False

In [35]:
new_customer_list['name'] = new_customer_list['first_name'] + ' ' + new_customer_list['last_name']

In [36]:
new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    object
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
 23  dob_job_title_combined               894 non-null    object
 24  name                                 971 non-null    object
dtypes: float64(5), int64(6), object(14)
memory usage: 195.4+ KB

In [41]:
merged_data2 = pd.merge(merged_data1,new_customer_list,on = 'name',how = 'outer')

In [42]:
merged_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 41 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            4000 non-null   float64
 1   name                                   4971 non-null   object
 2   gender_x                               4000 non-null   object
 3   past_3_years_bike_related_purchases_x  4000 non-null   float64
 4   DOB_x                                  3913 non-null   object
 5   age                                    3999 non-null   float64
 6   job_title_x                            3494 non-null   object
 7   job_industry_category_x                3344 non-null   object
 8   wealth_segment_x                       4000 non-null   object
 9   deceased_indicator_x                   4000 non-null   object
 10  owns_car_x                             4000 non-null   object
 11  tenure_x                               3913 non-null   float64
 12  address_x                              3996 non-null   object
 13  postcode_x                             3996 non-null   float64
 14  state_x                                3996 non-null   object
 15  country_x                              3996 non-null   object
 16  property_valuation_x                   3996 non-null   float64
 17  first_name                             1000 non-null   object
 18  last_name                              971 non-null    object
 19  gender_y                               1000 non-null   object
 20  past_3_years_bike_related_purchases_y  1000 non-null   float64
 21  DOB_y                                  983 non-null    object
 22  job_title_y                            894 non-null    object
 23  job_industry_category_y                835 non-null    object
 24  wealth_segment_y                       1000 non-null   object
 25  deceased_indicator_y                   1000 non-null   object
 26  owns_car_y                             1000 non-null   object
 27  tenure_y                               1000 non-null   float64
 28  address_y                              1000 non-null   object
 29  postcode_y                             1000 non-null   float64
 30  state_y                                1000 non-null   object
 31  country_y                              1000 non-null   object
 32  property_valuation_y                   1000 non-null   float64
 33  Unnamed: 16                            1000 non-null   float64
 34  Unnamed: 17                            1000 non-null   float64
 35  Unnamed: 18                            1000 non-null   float64
 36  Unnamed: 19                            1000 non-null   float64
 37  Unnamed: 20                            1000 non-null   float64
 38  Rank                                   1000 non-null   float64
 39  Value                                  1000 non-null   float64
 40  dob_job_title_combined                 894 non-null    object
dtypes: float64(17), object(24)
memory usage: 1.6+ MB

False